.social-login
    button.social-login--github
        span
            i.fab.fa-github 
        |Continue with Github   <!-- | 없으면 태그로 인식 됨 -->
    button.social-login--facebook
        span
            i.fab.fa-facebook 
        |Continue with Facebook 