doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.0/css/all.css", integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h", crossorigin="anonymous")
        title #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer